.modal.fade#updateWarningModal(tabindex="-1",role="dialog",aria-labelledby="updateWarningModal")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5(class="modal-title",id="updateModalLabel") Nieuwe Versie Beschikbaar
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") &times;          
      .modal-body
          p Er is een nieuwe versie van deze pagina. Hoe wil je verdergaan ?
      .modal-footer
        button.btn.btn-secondary(type="button",data-dismiss="modal")
          | <i class="fa fa-level-down"></i>&nbsp;Blijf bij de oude versie.
        a.btn.btn-primary#update-version-button(href="#")
          | <i class="fa fa-level-up"></i>&nbsp;Update naar de nieuwe versie.
